
      <div class="tab-pane container active" id="userSetting">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Commonly Used
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseTextEditor" role="button" aria-expanded="false" aria-controls="collapseTextEditor">Text Editor</a>
            <ul  class="collapse" id="collapseTextEditor">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseWorkBench" role="button" aria-expanded="false" aria-controls="collapseWorkBench">Workbench</a>
            <ul  class="collapse" id="collapseWorkBench">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseWindows" role="button" aria-expanded="false" aria-controls="collapseWindows">Windows</a>
            <ul  class="collapse" id="collapseWindows">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseFeature" role="button" aria-expanded="false" aria-controls="collapseFeature">Feature</a>
            <ul  class="collapse" id="collapseFeature">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseApplication" role="button" aria-expanded="false" aria-controls="collapseApplication">Application</a>
            <ul  class="collapse" id="collapseApplication">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseExtensions" role="button" aria-expanded="false" aria-controls="collapseExtensions">Extensions</a>
            <ul  class="collapse" id="collapseExtensions">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>

    <div class="tab-pane container fade" id="workspaceSetting">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Commonly Used2
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseTextEditor" role="button" aria-expanded="false" aria-controls="collapseTextEditor">Text Editor</a>
            <ul  class="collapse" id="collapseTextEditor">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseWorkBench" role="button" aria-expanded="false" aria-controls="collapseWorkBench">Workbench</a>
            <ul  class="collapse" id="collapseWorkBench">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseWindows" role="button" aria-expanded="false" aria-controls="collapseWindows">Windows</a>
            <ul  class="collapse" id="collapseWindows">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseFeature" role="button" aria-expanded="false" aria-controls="collapseFeature">Feature</a>
            <ul  class="collapse" id="collapseFeature">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseApplication" role="button" aria-expanded="false" aria-controls="collapseApplication">Application</a>
            <ul  class="collapse" id="collapseApplication">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#collapseExtensions" role="button" aria-expanded="false" aria-controls="collapseExtensions">Extensions</a>
            <ul  class="collapse" id="collapseExtensions">
              <li><a class="dropdown-item" href="#">menu1</a></li>
              <li><a class="dropdown-item" href="#">menu2</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>



